<div class="container">
  <div class="row">
  </div>
  <div class="row">
    <div class="panel with-nav-tabs panel-default">
      <div class="panel-heading">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1default" data-toggle="tab">Repository Info.</a></li>
          <li><a href="#tab2default" data-toggle="tab">Manager Users</a></li>
        </ul>
      </div>
      <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="tab1default">
            <!-- Edit Repo Info -->
            <div class="container">
              <div class="row main">
                <div class="main-login main-center">
                  <form class="form-horizontal" method="post" action="/api/v1/updaterepo/{{repoInfo.repoName}}">

                    <div class="form-group">
                      <label for="repoName" class="cols-sm-2 control-label">Repo Name</label>
                      <div class="cols-sm-10">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-bookmark" aria-hidden="true"></i></span>
                          <input type="text" class="form-control" name="repoName" id="repoName" value="{{repoInfo.repoName}}" pattern="[a-zA-Z0-9._%+-]{5,}$" required=""/>
                        </div>
                        <small id="errorRepoName" hidden="">Repository names must be 5 characters or more and only contain letters and numbers.</small>
                        <small id="errorRepoNameExists" hidden="">A repository by this name already exists.</small>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="repoOwner" class="cols-sm-2 control-label">Repository Owner</label>
                      <div class="cols-sm-10">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-universal-access" aria-hidden="true"></i></span>
                          <input type="text" class="form-control" name="repoOwner" id="repoOwner" value="{{owner}}" pattern="[a-zA-Z0-9._%+-]{5,}$" disabled=""/>
                        </div>
                        <!-- <small id="errorRepoName" hidden="">Repository names must be 5 characters or more and only contain letters and numbers.</small> -->
                        <!-- <small id="errorRepoNameExists" hidden="">A repository by this name already exists.</small> -->
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="repoPublic" class="cols-sm-2 control-label">Is Public?</label>
                      <div class="cols-sm-10">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-universal-access" aria-hidden="true"></i></span>
                          <!-- <input type="text" class="form-control" name="repoPublic" id="repoPublic" value="{{repoInfo.isPublic}}" pattern="[a-zA-Z0-9._%+-]{5,}$" disabled=""/> -->
                          <select class="form-control" id="repoPublic" name="repoPublic">
                            {{#if repoInfo.isPublic}}
                            <option value="true" selected="">Yes</option>
                            <option value="false">No</option>
                            {{else}}
                            <option value="true">Yes</option>
                            <option value="false" selected="">No</option>
                            {{/if}}
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="repoDescription" class="cols-sm-2 control-label">Repository Description</label>
                      <div class="cols-sm-10">
                        <div class="input-group">
                          <textarea class="form-control" rows="5" cols="55" id="repoDescription" name="repoDescription">{{repoInfo.repoDescription}}</textarea>
                        </div>
                      </div>
                    </div>

                    <input type="submit" class="btn btn-primary btn-lg btn-block login-button" value="Update">
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tab2default">

            <!-- Show All Collaborators -->
            <div class="col-md-12">
              <h4>All Collaborators</h4>
              <div class="table-responsive">
                <table id="repoTable" class="table table-bordred">
                  <thead>
                    <th style="width: 55px;">Name</th>
                    <th>Role</th>

                    <th style="width: 20px;">Remove</th>
                  </thead>
                  <tbody>
                    {{#if amIOwner}}
                    {{#each collaborators}}
                    <tr id="collab{{this.id}}">
                      <td>{{this.firstname}}&nbsp;{{this.lastname}}</td>
                      <td>{{this.permission}}</td>

                      <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><i class="fa fa-trash-o" aria-hidden="true"></i></button></p></td>
                      <!-- <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" disabled><i class="fa fa-trash-o" aria-hidden="true"></i></button></p></td> -->
                    </tr>
                    {{/each}}
                    {{else}}
                    {{#each collaborators}}
                    <tr id="collab{{this.id}}">
                      <td>{{this.firstname}}&nbsp;{{this.lastname}}</td>
                      <td>{{this.permission}}</td>

                      <!-- <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><i class="fa fa-trash-o" aria-hidden="true"></i></button></p></td> -->
                      <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" disabled><i class="fa fa-trash-o" aria-hidden="true"></i></button></p></td>
                    </tr>
                    {{/each}}
                    {{/if}}
                  </tbody>
                </table>
            </div>
          </div>

            <!-- Add Collaborator -->
            <div class="container">
              <div class="row">
                <div class="main-center">
                  <form class="form-horizontal" method="post" action="/api/v1/addCollaborator/{{repoInfo.repoName}}">
                    <div class="form-group">
                      <label for="collabName" class="cols-md-12 control-label">Add Collaborator</label>
                      <div class="cols-md-12">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                          <input type="text" class="form-control" name="collabEmail" id="collabEmail" list="collabSuggestions" placeholder="Start typing an e-mail to find a user."/>
                          <datalist id="collabSuggestions">
                          </datalist>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="collabPerms" class="cols-sm-2 control-label">Permission Level</label>
                      <div class="cols-sm-10">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
                          <input type="text" class="form-control" name="collabPerms" id="collabPerms" list="permOptions" placeholder="Select a permission level."/>
                          <datalist id="permOptions">
                            <option value="Owner">0</option>
                            <option value="Admin">1</option>
                            <option value="Collaborator">2</option>
                            <option value="Viewer">3</option>
                          </datalist>
                        </div>
                      </div>
                    </div>

                    <input type="submit" class="btn btn-primary btn-lg btn-block login-button" value="Add Collaborator">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/javascripts/editRepository.js"></script>
